body {
    color: white;
    background-color: black;
}

section {
    background: rgb(21, 221, 194);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

img{
    height: 200px;
}

.chamada-texto{
    margin-right: 5%;
}

.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;
}