body {
    color: white;
    background-color: black;
}

section {
    background: rgb(21, 221, 194);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;

}