body {
    font-family: "Doto", sans-serif;
    color: white;
    background-color: black;
}

.chamada {
    background: rgba(221, 101, 21, 0.897);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

img{
    height: 200px;
}

.chamada-texto{
    margin-right: 5%;
}

.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;
}

.categoria {
    background: rgba(221, 101, 21, 0.473);
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 40px;
}

p {
    font-size: 20px;
}